@font-face {
  font-family: 'Lato';
  src: url('~Fonts/Lato-Regular.woff2') format('woff2'),
  url('~Fonts/Lato-Regular.woff') format('woff'),
  url('~Fonts/Lato-Regular.eot') format('eot'),
  url('~Fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~Fonts/Lato-Semibold.woff2') format('woff2'),
  url('~Fonts/Lato-Semibold.woff') format('woff'),
  url('~Fonts/Lato-Semibold.eot') format('eot'),
  url('~Fonts/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('~Fonts/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('~Fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('~Fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Raleway';
  src: url('~Fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('~Fonts/PT_Serif-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
